/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family: "Playfair Display", serif;
}

.wrapper{
  margin: 2rem;
  /* border: 2px solid red; */
}

.first_container{
  display: flex;
  align-items: center;
  gap: 2rem;
}   

.Input_container{
 position: absolute;
 top: 40%;
 left: 25%;
 width: 33%;
}

.heading{
  margin-bottom: 1rem;
  margin-left: 15rem;
}

.input{
width: 100%;
max-width: 100%;
height: 100px;
padding-top: 10px;
resize: none;
}

.icon-textarea{
  background:
  url(Icons/paperclip.png) no-repeat 10px center;
  /* url(Icons/up-arrow.png) no-repeat right 10px center; */
  padding-left: 40px;  
  padding-right: 40px;
  width: 150%;
  height: 65px;
  background-size: 20px 20px, 20px 20px;
  border-radius: 4rem;
  resize: none;   
  line-height: 1.5;
}

textarea {
  padding-top: 20px; 
}

.input_subset{
  position: absolute;
  bottom: 35%;
  left: 33%;
  display: flex;
  gap: 8px;
}

.surprise-me-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

.dropdown-content{
  margin-top: 1rem;
  cursor: pointer;
  background-color: lightgray;
  /* width: 25%; */
  width: fit-content;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1.9rem;
  margin-left: 6rem;
  border-radius: 2rem;
}

.f_text{
  display: flex;
  gap: 2rem;
  margin: 16px 0;
}

.f_text:hover{
background-color: lightcyan;
border-radius: 6px;
}

.img_and_text{
  display: flex;
  gap: 12px;
}

.img_text{
  border-radius: 9px;
  height: 3.1vh;
  padding: 3px;
  border: none;
}

.text{
  line-height: 1.8rem;
}

.dropdown-content:hover{
  background-color: lightgray;
}

.arrow-down{
  display: flex;
  gap: 8px;
  cursor: pointer;
  margin-left: 6rem;
  margin-top: -1.45rem;
  margin-bottom: 1rem;
}

.arrow-down:hover{
  background-color: lightgray;
  width: fit-content;
}

.response_Icon{
  padding: 0.5rem;
  border-radius: 2rem;
  position: absolute;
  top: 4.8rem;
  left: 50rem;
}

#upgrade_btn{
  padding: 12px;
  border-radius: 1.5rem;
  border: none;
}

.upgradeBtn{
  margin-top: 1rem;
}


@media (max-width: 768px) { 

  .arrow-down{
      display: flex;
      gap: 11px;
      cursor: pointer;
      margin-top: -1.7rem;
  }

  .dropdown-content{
      cursor: pointer;
      background-color: lightgray;
      width: fit-content;
      transition: background-color 0.3s ease;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      padding: 1.2rem;
      border-radius: 6rem;
      border: 2px solid red;
  }

  .img_and_text{
      display: flex;
      gap: 2rem;
  }
  
  .img_text{
      border-radius: 2px;
      height:  1rem;
      padding: 3px;
      border: none;
  }
}


/* Side bar styling */
.side-container{
  background: #19232c;
  width: 300px;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;

}

.side-container .icon-text {
  display: flex;
  margin: 10px;
  color: white;
  /* text-align: center; */
  justify-content: flex-start;
}
.side-container .icon-text img{
  width: 50px;
  height: 50px;

}
.side-container a h3{
  margin-left: 10px;
  color: #fffdfd;
}

body{
  background-color: rgb(88, 88, 88);
}
/* Side bar styling end here */
